@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;

}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.head{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  &Content{
    transition: all linear .4s;
    font-weight: bold;
    text-decoration: none;
    opacity: .4;
    &Active{
      opacity: 1;
      text-decoration: underline;
    }
  }
}
