@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 200px;

}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  width: 100%;
}

.head{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
  &Content{
    transition: all linear .4s;
    font-weight: bold;
    text-decoration: none;
    opacity: .4;
    &Active{
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.messageBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px 0;
}

.title{
  max-width: 300px;
  text-align: center;
  line-height: 1.3;
  color: $primary-text-color;
  @include adaptive-font(24, 20)
}
