@import "../../../../styles/variables/colors";
.btn {
  display: block;
  padding: 10px 20px;
  background: $back;
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  cursor: pointer ;
  //border-radius: 15px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  span{
    transition: all .2s ease-in-out;
    color: $primary-text-color !important;
  }

  &:hover{
    background: $primary-text-color;
    border: 1px solid $primary-text-color;
    color: $back !important;
  }

  &:hover span {
    color: $back !important;
  }

  &:active{
    opacity: .4;
  }
}
