@import "../../styles/variables/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 10px;
  justify-content: center;
  align-items: center;
  h2{
    font-weight: bolder;
    text-decoration: underline;
    @include adaptive-font(24,20);
    cursor: default;
  }
}
