@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  svg{
    width: 30px;
    height: 30px;
  }

  h2{
    color: $primary-text-color;
    font-weight: bold;
    @include adaptive-font(19,14);
  }
}
