@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  h2 {
    color: $primary-text-color;
    text-align: center;
    @include adaptive-font(22, 18);
    line-height: 1.3;
  }
  &Content {
    color: $primary-subtext-color;
    text-align: center;
    line-height: 1.2;
    @include adaptive-font(18, 14);
  }
}
