@import "../../../../styles/variables/colors";
@import "../../../../styles/variables/mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;

  label {
    position: relative;
    background: $back;
    @include adaptive-font(16, 14);
    color: white;
    width: 100%;
  }

  textarea {
    padding: 10px 15px;
    width: 100%;
    @include adaptive-font(16, 14);
    background: $back;
    color: $primary-text-color;
    border: 1px solid $primary-text-color;
    resize: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
}

.error {
  @include adaptive-font(10, 8);
  color: $primary-text-color;
}
